# Data Structures 2: Dictionaries and Sets

In the previous tutorial we manipulated structures of
sequential data types: lists and tuples. Now,
We will discover dictionaries and sets, which are
unordered data structures: objects are no longer stored
by position (or index) but by **key**, that is to say an identifier
unique.

## Dictionaries

### Definition

Dictionaries are **unordered collections of pairs
key-value**. A dictionary is defined using the following syntax:
`d = {'key1': 'value1', 'key2': 'value2'}`.

In [2]:
inventaire = {'cafe': '500g', 'lait': '1,5L'}
inventaire

{'cafe': '500g', 'lait': '1,5L'}

In [3]:
type(inventaire)

dict

It is possible to put as many keys as you want in a
dictionary. On the other hand, **the keys are unique**, in order to identify
certainly the associated value. If we try to define a
dictionary with duplicate key, Python does not return an error,
but only the last duplicated key is taken into account.

In [4]:
inventaire = {'cafe': '500g', 'lait': '1,5L', 'cafe': '300g'}
inventaire

{'cafe': '300g', 'lait': '1,5L'}

What can a dictionary contain? The keys can be of different
types, but generally only strings or
integers. The values ​​of a dictionary can be
be any type of Python object.

### Use

Since dictionaries are **unordered**, there is no notion of
position: a value is accessed by its associated key. For example, for
retrieve the value (`'1.5L'`) associated with the key `'milk'`:

In [5]:
inventaire['lait']

'1,5L'

Additional key-value pairs can be added to a
already existing dictionary, using the syntax of the assignment of
variable.

In [6]:
inventaire["céréales"] = "250g"
inventaire

{'cafe': '300g', 'lait': '1,5L', 'céréales': '250g'}

Unlike lists, keys do not necessarily have to start
to 0 and can be any number.

In [7]:
dic1 = {12: "Averyon", 33: "Gironde"}

print("Le département 33 est la " + dic1[33])  # String concatenation!

Le département 33 est la Gironde

Similarly, values ​​can be of different natures, including
data containers.

In [8]:
dic2 = {"gamme" : "do majeur",
        "notes": ["do", "re", "mi", "fa", "sol", "la", "si"]}

dic2["notes"]

['do', 're', 'mi', 'fa', 'sol', 'la', 'si']

Dictionaries may contain other dictionaries, among other things.
This makes them particularly suitable for representing structures
hierarchical data.

In [9]:
cv = {
    "marc": {"poste": "manager", "experience": 7, "hobbies": ["couture", "frisbee"]},
    "mirande": {"poste": "ingénieure", "experience": 5, "hobbies": ["trekking"]}
}

print(cv["marc"])
print(cv["marc"]["hobbies"][0])

{'poste': 'manager', 'experience': 7, 'hobbies': ['couture', 'frisbee']}
couture

Let us repeat: dictionaries have no notion of order. Thus, it
there is no point in querying the element at position `0` of a dictionary
(unless key `0` exists..). Querying a non-existent key returns a
error.

In [10]:
dic1 = {12: "Averyon", 33: "Gironde"}

dic1[0]

KeyError: 0

### Editing items

It is possible to modify a value associated with an existing key in
the dictionary. The new value may be of a different type than
the original.

In [11]:
inventaire = {'cafe': '500g', 'lait': '1,5L'}
inventaire['cafe'] = {'arabica': '250g', 'robusta': '400g'}
inventaire

{'cafe': {'arabica': '250g', 'robusta': '400g'}, 'lait': '1,5L'}

### Deleting items

To delete a key (and the associated value), the same operations as
those that allow you to delete items in a list can
be used.

In [12]:
# With the `del` operator
inventaire = {'cafe': '500g', 'lait': '1,5L'}
del inventaire['lait']
inventaire

{'cafe': '500g'}

In [13]:
# With the `pop` method
inventaire = {'cafe': '500g', 'lait': '1,5L'}
inventaire.pop('lait')
inventaire

{'cafe': '500g'}

### Some useful methods

We have seen previously that requesting a key that does not exist
did not return an error. The `.get()` method allows you to request a key
without being sure of its existence, since it does not return any errors
in this case, but the `None` object, which we will see in a future
tutorial.

In [15]:
inventaire = {'cafe': '500g', 'lait': '1,5L'}
inventaire.get('miel')

We can also specify a default value when the key
does not exist.

In [16]:
inventaire.get('miel', 'introuvable')

'introuvable'

The `.keys()`, `.values()` and `.items()` methods return
respectively the keys, values, and key-value pairs of a
dictionary. The objects returned by these methods are a bit
complex, but it is possible to transform them into a list with the
`list` function to be able to query them by position.

In [17]:
cv = {
    "marc": {"poste": "manager", "experience": 7, "hobbies": ["couture", "frisbee"]},
    "mirande": {"poste": "ingénieure", "experience": 5, "hobbies": ["triathlon"]}
}

list(cv.keys())

['marc', 'mirande']

In [18]:
list(cv.values())

[{'poste': 'manager', 'experience': 7, 'hobbies': ['couture', 'frisbee']},
 {'poste': 'ingénieure', 'experience': 5, 'hobbies': ['triathlon']}]

In [19]:
list(cv.items())

[('marc',
  {'poste': 'manager', 'experience': 7, 'hobbies': ['couture', 'frisbee']}),
 ('mirande',
  {'poste': 'ingénieure', 'experience': 5, 'hobbies': ['triathlon']})]

## Sets

### Definition

Sets are **unordered collections of unique items**. In
This means that they can be seen as valueless dictionaries, which
would have kept only the keys (unique by definition in a
Another analogy is that of mathematical sets,
whose elements are also unordered and unique.

Due to their proximity to dictionaries, sets are
also defined by curly braces `{}`.

In [20]:
x = {3, 2, 1}
x

{1, 2, 3}

In [21]:
type(x)

set

Similar to dictionaries, sets are
**unordered**, so there is no notion of position. Ask
the element at position `i`, as in a list, returns an error.

In [22]:
x = {3, 2, 1}
x[0]

TypeError: 'set' object is not subscriptable

### Editing items

It is possible to add an element to a set via the `add` method.

In [23]:
x = {3, 2, 1}
x.add("4")
x

{1, 2, 3, '4'}

Adding an existing element does not change anything by definition.

In [24]:
x = {3, 2, 1}
x.add(2)
x

{1, 2, 3}

It is possible to remove an element from a set via the `remove` method.

In [25]:
x = {3, 2, 1}
x.remove(2)
x

{1, 3}

### Use

Sets are not used very often in practice, but they
prove to be very useful in certain specific situations. Due to
the uniqueness of the elements they contain, sets allow
simply and efficiently remove duplicates in a container
sequential, like a list.

**Deduplication**

Suppose we want to remove duplicates in a given list.
By definition, transforming a list into a set removes the
duplicates. However, one usually wants to go back to a list,
as sets do not offer the same flexibility as
lists (e.g. the ability to find an item by position).
It is therefore common to make the chain of operation
`list -> set -> list` to deduplicate a list.

In [26]:
l = [1, 2, 3, 3, 2, 1]
l_dedup = list(set(l))
l_dedup

[1, 2, 3]

**Set operations**

As sets programmatically represent sets
mathematics, it is not surprising that they allow us to carry out
elementary set operations. For example, the union and
the intersection.

In [27]:
l1 = [5, 3, 2, 3, 3, 5, 8, 9]
l2 = [3, 7, 0, 0, 1, 9, 4, 6]

In [28]:
# Union: elements either in l1, or in l2, or in both
l_union = list(set(l1) | set(l2))
l_union

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# Intersection: elements in both l1 and l2
l_inter = list(set(l1) & set(l2))
l_inter

[9, 3]

**Membership tests**

Sets are also widely used for performing tests.
belonging, as they offer much better
performance than the lists for this type of test.

The concept of testing will be the subject of a future tutorial. For now,
let us remember that a membership test of the type “is the element `a`
in list `l`” is written in Python as `a in l` and returns `True` or
`False` depending on whether `a` is actually present in list `l` or
No.

In [30]:
l = [1, 2, 3]
2 in l

True

In [31]:
4 in l

False

Now, let's imagine we perform this test on a list
containing millions of elements. By exaggerating, the Python interpreter
should then iterate through all the elements in the list one by one until
find the item in question, which can take a very long time.

Conversely, since the elements of a set are unique, Python can
easily keep in mind the list of unique items contained in
the set, and therefore conclude the test very quickly. We will see a
performance comparison in an end-of-tutorial exercise.

NB: the computer implementation of the concepts mentioned above
is called a “hash table”. The interested reader
will be able to find more information about this structure
[ici](http://mpechaud.fr/scripts/donnees/tablesdehachage.html) data.

## Exercises

### Comprehension questions

- 1/ Can we access the `i`th element of a dictionary? of a set?

- 2/ What types of objects can be used as keys to a
dictionary? As values?

- 3/ For what types of data is it useful to use a
dictionary ?

- 4/ Can a dictionary have duplicates in its keys?

- 5/ Why can we say that a set is a particular dictionary?

- 6/ Why are sets used to deduplicate lists?

- 7/ Why are sets more relevant than lists for
carry out membership tests?

<details>

<summary>

Show solution

</summary>

1/ No, dictionaries and sets are unordered collections
of object.

2/ For values: any type of object. For keys, we use
generally restricted to strings and/or integers.

3/ Hierarchical type data.

4/ No, the keys are unique.

5/ A set only contains unique elements and is written with
braces. It can therefore be seen as a special dictionary
containing only keys.

6/ By definition, the elements of a set are unique. Transforming a
list in set therefore removes duplicates.

7/ Due to the uniqueness of the elements, Python can keep in memory the
position of the different elements. The membership tests are therefore
highly optimized compared to when done with a list.

</details>

### Querying a dictionary

Let the dictionary be defined in the cell below.

Display using `print` operations:

- the list of names of the different classes

- Miranda's history grade

- the list of grades obtained by Hypolyte

- the list of names of students in 6th grade B

- the list of subjects taught in 6th A

- the list of all subjects taught

- the list of marks obtained by the girls of the two classes

In [41]:
resultats = {
    "6emeA": {"Miranda" : {"notes": {"physique": 16, "histoire": 12}},
              "Celestin": {"notes": {"physique": "absent", "histoire": 18}}
             },
    "6emeB": {"Hypolyte": {"notes": {"maths": 11, "anglais": 0}},
              "Josephine": {"notes": {"maths": 16, "anglais": 20}}
             }
}

In [51]:
# Test your answer in this cell
print(list(resultats["6emeA"].keys()) + list(resultats["6emeB"].keys()))
print(resultats["6emeA"]["Miranda"]["notes"]["histoire"])
print(list(resultats["6emeB"]["Hypolyte"]["notes"].values()))
print(list(resultats["6emeB"].keys()))
print(list(resultats["6emeA"]["Miranda"]["notes"].keys()))
print(list(resultats["6emeA"]["Miranda"]["notes"].keys()) + list(resultats["6emeB"]["Hypolyte"]["notes"].keys()))
print(list(resultats["6emeA"]["Miranda"]["notes"].values())+list(resultats["6emeB"]["Josephine"]["notes"].values()))

['Miranda', 'Celestin', 'Hypolyte', 'Josephine']
12
[11, 0]
['Hypolyte', 'Josephine']
['physique', 'histoire']
['physique', 'histoire', 'maths', 'anglais']
[16, 12, 16, 20]

<details>

<summary>

Show solution

</summary>

``` python
print(list(resultats.keys()))

print(resultats["6emeA"]["Miranda"]["notes"]["histoire"])

print(list(resultats["6emeB"]["Hypolyte"]["notes"].values()))

print(list(resultats["6emeB"].keys()))

print(list(resultats["6emeA"]["Miranda"]["notes"].keys()))

print(list(resultats["6emeA"]["Miranda"]["notes"].keys()) 
      + list(resultats["6emeB"]["Josephine"]["notes"].keys()))

print(list(resultats["6emeA"]["Miranda"]["notes"].values()) 
      + list(resultats["6emeB"]["Josephine"]["notes"].values()))
```

</details>

### Length of a dictionary

In previous tutorials we saw the `len` function, which
allows you to count the number of elements in a sequence. Is this
function works with dictionaries? What does it count then?

In [52]:
# Test your answer in this cell
len(resultats)

2

<details>

<summary>

Show solution

</summary>

``` python
cv = {
    "marc": {"poste": "manager", "experience": 7, "hobbies": ["couture", "frisbee"]},
    "miranda": {"poste": "ingénieure", "experience": 5, "hobbies": ["trekking"]}
}

print(len(cv))
print(len(cv["marc"]))
```

The len function applied to a dictionary counts the number of keys.

</details>

### Deleting dictionary items

We saw that we could delete a key from a dictionary of two
different ways:

- with the `del` operator: `del my_dict[key]`

- with the `pop` method: `my_dict.pop(key)`

Beyond syntax, what are the two major differences between
these two ways to delete a key from a dictionary? Feel free
to experiment with examples of your choice.

In [60]:
# Test your answer in this cell
dictionary = {"Rita": 26, "Diogo":26, "Pedro": 58, "Paula": 50, "Bernardo": 2}
#print(del dictionary["Diogo"])
print(dictionary.pop("Diogo"))

26

<details>

<summary>

Show solution

</summary>

``` python
inventaire = {'cafe': '500g', 'lait': '1,5L'}

print(inventaire.pop('cafe'))
print(inventaire.pop('orange', 'indisponible'))
```

1st difference: when deleting an existing key with the method
pop, the value associated with the key is returned. The del operation does not
returns nothing (actually, an object of type None)

2nd difference: the pop method allows you to specify a value by
defaults if the key does not exist, and therefore does not return
error in this case. The del operation necessarily returns an error
when the key does not exist.

</details>

### Renaming a dictionary key

By exploiting the fact that the `pop` method used to delete a
key of a dictionary returns the value associated with that key, propose
a method to rename a dictionary key to a single
operation.

In [62]:
# Test your answer in this cell
dictionary2 = {"Marseille": 2, "Bordeaux": 5, "Paris": 10}
dictionary2["Nice"]=dictionary2.pop("Marseille")
dictionary2

{'Bordeaux': 5, 'Paris': 10, 'Nice': 2}

<details>

<summary>

Show solution

</summary>

``` python
inventaire = {'cafe': '500g', 'lait': '1,5L'}

inventaire['eau'] = inventaire.pop('lait')

inventaire
```

</details>

### Dictionary membership tests

Consider the following dictionary:

`animals = {'cats': 5, 'dogs': 12}`

What will the following membership tests return? Check your
predictions.

- `'cats' in animals.keys()`

- `'cats' in animals.values()`

- `'cats' in animals`

In [68]:
# Test your answer in this cell
animals = {"cats": 5, "dogs": 12}
"cats" in animals.keys()
"cats" in animals.values()
"cats" in animals

True

<details>

<summary>

Show solution

</summary>

``` python
animaux = {'chats': 5, 'chiens': 12}

print(animaux.keys())
print('chats' in animaux.keys()) 
# True : 'chats' est bien dans les clés de `animaux`

print()
print(animaux.values())
print('chats' in animaux.values()) 
# False : 'chats' n'est pas une valeur de `animaux`

print()
print(animaux)
print('chats' in animaux) 
# True : ce test est strictement équivalent à 'chats' in animaux.keys()
```

</details>

### Deleting a non-existent key

We saw that the `del` operation returned an error when
used it to remove a non-existent key from a dictionary. A
using your new knowledge about membership tests,
can you imagine a method (without necessarily implementing it) that
would allow this case to be handled without error?

In [ ]:
# Test your answer in this cell

<details>

<summary>

Show solution

</summary>

``` python
inventaire = {'cafe': '500g', 'lait': '1,5L'}

cle = 'chocolat'

if cle in inventaire.keys():
    del inventaire[cle]
```

We use a membership test: if the key exists in the keys of the
dictionary, it is deleted. Otherwise, nothing happens. This
syntax will become clearer with the next tutorial.

</details>

### Deduplication

Consider the following repeating string:

`x = "cdabcdabcdabcdabcdabcdabcdabcdabcdab"`

Construct a list of the unique characters found in this
chain, listed in alphabetical order, namely:

`l = ['a', 'b', 'c', 'd']`

Hint: The procedure is similar to removing duplicates.
from a list.

In [70]:
# Test your answer in this cell
x = "cdabcdabcdabcdabcdabcdabcdabcdabcdab"
l = list(set(list(x)))
l.sort()
l

['a', 'b', 'c', 'd']

<details>

<summary>

Show solution

</summary>

``` python
x = "cdabcdabcdabcdabcdabcdabcdabcdabcdab"
l = list(set(x))
l.sort()
l
```

</details>

### Intersections and unions of strings

Consider the following two strings.

`cyrano1 = 'It's a rock! … it's a peak! … it's a cape!'`

`cyrano2 = 'What am I saying, it's a cape? … It's a peninsula!'`

Question 1: Find the characters that appear in both
two chains.

Question 2: Find the characters that appear in at least one
of the two texts.

In [73]:
# Test your answer in this cell
cyrano1 = "It's a rock! … it's a peak! … it's a cape!"

cyrano2 = "What am I saying, it's a cape? … It's a peninsula!"

char1 = set(list(cyrano1))
char2 = set(list(cyrano2))

print(char1 & char2)
print(char1 | char2)

{' ', 'a', 'I', '…', 'i', 'c', 'e', 'p', 't', "'", '!', 's'}
{'n', 'I', '…', 'i', 'm', 'g', 'p', 'u', 'h', ',', 'a', 'W', 'o', '!', '?', ' ', 'l', 'c', 'r', 't', 's', 'y', 'e', "'", 'k'}

<details>

<summary>

Show solution

</summary>

``` python
cyrano1 = 'C’est un roc ! … c’est un pic ! … c’est un cap !'
cyrano2 = 'Que dis-je, c’est un cap ? … C’est une péninsule !'

# Question 1

inter = list(set(cyrano1) & set(cyrano2))
print(inter)

# Question 2

union = list(set(cyrano1) | set(cyrano2))
print(union)
```

</details>

### On the interest of sets for membership tests

The code below generates a list with the letters a, b, c and d
repeated 1 million times. Then it performs a membership test
of a letter that does not exist in the list, and calculates the time taken by
the Python interpreter to perform the test.

Using this syntax, compare the time taken by the same test
of membership when we transform the list into a set beforehand.

In [74]:
x = ['a', 'b', 'c', 'd'] * 1000000
print(x[:10])

%time 'e' in x

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b']
CPU times: total: 93.8 ms
Wall time: 101 ms

False

In [77]:
# Test your answer in this cell
x = ['a', 'b', 'c', 'd'] * 1000000
print(x[:10])
x_set = set(x)
print(x_set)

%time 'e' in x
%time 'e' in x_set

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b']
{'d', 'a', 'b', 'c'}
CPU times: total: 15.6 ms
Wall time: 91.6 ms
CPU times: total: 0 ns
Wall time: 0 ns

False

<details>

<summary>

Show solution

</summary>

``` python
x = ['a', 'b', 'c', 'd'] * 1000000
print(x[:10])

x_set = set(x)
print(x_set)

%time 'e' in x
%time 'e' in x_set
```

The initial membership test is measured in milliseconds. The
performed on the set is measured in microseconds. The test is much
faster when converting to a set first.

</details>