# Basic types and variables

In this first practical work, we will discover the most important objects
Python Fundamentals: **Numbers** and **Strings**
character**. We will also see how we can assign
objects to **variables**, in order to perform operations with these
objects.

## Numbers

### Types of numbers

Python provides various numeric object types. In this tutorial, we
will focus on the two types mainly used:

- integers (type `int` for *integer*)

- real numbers (type `float` for floating point numbers)

Generally, we use the `type` function to print the type
of a Python object.

In [ ]:
type(3)

In [ ]:
type(3.14)

The `float` and `int` functions can be used to pass from one
type to another.

In [ ]:
# Convert to float
float(3)

In [ ]:
# Convert to float
type(float(3))

In [ ]:
# Convert to int
int(3.79)

Be careful with the *float* -> *int* conversion, which truncates the part
decimal.

*floats* can also be written in scientific notation:

In [ ]:
2e3

In [ ]:
type(2e3)

### Basic Arithmetic Operations

In [ ]:
# Addition
8 + 9

In [ ]:
# Subtraction
5 - 2

In [ ]:
# Multiplication
2 * 6

In [ ]:
# Division
9 / 4

In [ ]:
# Division by 0
3 / 0

Division by 0 produces an error. This was of course predictable. But
It is not uncommon to have such errors in calculations.
statistics, especially with *NumPy* or *Pandas*, producing an error
similar that then needs to be debugged.
> **Debug an error**
> Code errors are a must and in reality
> necessary for learning a language: it is by debugging the
> errors that our code produces that we learn to avoid them
> the future! To do this, it is necessary to understand them well in
> first place.
> The above error, related to division by 0, produced a
> `Traceback`, i.e. a detailed log specifying at which stage of the
> various operations performed by Python occurred the error,
> as well as the name of the error (`ZeroDivisionError`) and a description
> (division by zero). In this case, the error is simple, the message
> therefore allows you to understand the problem directly. For operations
> more complicated, names and messages may be less obvious...
> but nevertheless useful for understanding the source of the error - by
> indicating in a search engine for example.

In [ ]:
# Euclidean division: quotient
9 // 4

In [ ]:
# Euclidean division: remainder
9 % 4

In [ ]:
# Power
2 ** 5

In [ ]:
# Square root
5 ** 0.5

In [ ]:
# Order of operations: usual convention
2 + 5 * (10 - 4)

## Strings

Strings (or *strings*) are used to store
textual information. More precisely, they can store any
character of type [Unicode](https://fr.wikipedia.org/wiki/Unicode), this
which includes the letters of the different languages, but also the
punctuation, numbers, smileys, etc.

A *string* is defined by enclosing the information in single quotes or
in quotes (English).

### Definition

In [ ]:
# First way
'mot'

In [ ]:
# Second way
"Ã§a fonctionne aussi"

In [ ]:
# But be careful not to mix the two!
'l'apostrophe, quelle catastrophe'

Syntax error: the second apostrophe is understood as the end of the
*string*, and Python doesn't know how to interpret the rest of the sequence.
> **Syntax errors and exception**
> Since the beginning of the TP, we have seen several errors produced by the
> code. In practice, it is important to distinguish between two types of errors:
> - **syntax errors**: the code does not respect the rules of
> Python syntax, like the error above. The `Traceback`
> (error message) indicates with arrows pointing up
> the line and the moment when the problem started
> - **exceptions**: the code is syntactically correct but
> produces an error when executed, such as dividing by
> zero performed above.
> Why then is it important to distinguish between these two types of error?
> ? Because where incorrect syntax necessarily generates a
> `SyntaxError` and stops the execution of the code, an exception may be
> managed in the code. For example, in the context of a code where we
> would perform multiple divisions with multiple parameters, we
> might want to make it so that a division by zero does not return
> not an error that interrupts code execution, but a value
> arbitrary (infinity, missing value...).
To avoid syntax error, you need to vary the characters in case of
need :

In [ ]:
"l'apostrophe, aucun problÃ¨me"

Same thing in reverse:

In [ ]:
'les guillemets, "aucun problÃ¨me"'

### The `print` function

Working with *strings* is an opportunity to discover the very
handy and widely used `print` function. It simply displays
the argument that is passed to it in parentheses **and** a line break
by default.

In [ ]:
# Displaying the string "me"
"moi"

In [ ]:
# Displaying the string "me" with print
print("moi")

We have seen so far that we can simply execute a
cell to display the contents of a *string*. But does it work?
with multiple *strings*?

In [ ]:
# Who will be displayed?
"moi"
"non moi"

We see here a characteristic behavior of Jupyter notebooks: only
the last value returned in a cell is displayed. The function
`print` allows you to overcome this limit.

In [ ]:
# And this time?
print("moi")
print("moi aussi")

### Length of a string

The `len` function allows you to count the number of characters in a
*string*, all characters included (letters, numbers, spaces,
punctuationâ¦).

In [ ]:
len("J'ai 19 charactÃ¨res")

The âcharacterâ type does not exist in Python: a single character is
defined as a *string* of size 1.

In [ ]:
print(type("a"))
print(len("a"))

### Indexing

In Python, a *string* is a **sequence**, that is, a sequence of
characters in a specific order. Therefore, each character
of a *string* is indexed (Python knows its position), and we can
use this index to extract particular characters,
substrings, etc.

In Python, we use square brackets `[]` to call the index of a
sequence. More precisely, the index works on the following model:
`x[a:b:c]` returns a *substring* of the *string* `x` where `a` is the
starting character position, `b` the ending character position
plus 1, and `c` the indexing step. All this will be clearer with
the following examples.

Important note: **indexing starts at 0 in Python**.

In [ ]:
"une sÃ©quence que l'on va indexer"

In [ ]:
# First element
"une sÃ©quence que l'on va indexer"[0]

In [ ]:
# Second element
"une sÃ©quence que l'on va indexer"[1]

In [ ]:
# Last element
"une sÃ©quence que l'on va indexer"[-1]

In [ ]:
# Extract all from a certain character
"une sÃ©quence que l'on va indexer"[4:]

In [ ]:
# Extract everything until a certain character
"une sÃ©quence que l'on va indexer"[:12]

In [ ]:
# Extract a substring
"une sÃ©quence que l'on va indexer"[4:12]

In [ ]:
# Extract every 2 characters, starting from the 4th position
"une sÃ©quence que l'on va indexer"[4::2]

In [ ]:
# Reverse a sequence
"une sÃ©quence que l'on va indexer"[::-1]

Remember: this is because a *string* is considered a
sequence by Python that we can index it. For example, indexing a
number does not make sense, and therefore returns an error.

In [ ]:
2[3]

### Some useful properties

In [ ]:
# String concatenation
"mon adresse est : " + "10 rue des Peupliers"

In [ ]:
# Repetition
"echo - " * 5

### Some useful methods
Different Python objects usually have **methods** called
*built-in* (standard), which allow basic operations to be performed
from the object.
We will see in a future chapter what exactly this consists of.
methods in Python. For the moment, we can remember that the methods
are used in the format `object.method(parameters)` where the
parameters are optional.

In [ ]:
# Capitalize
"sequence 850".upper()

In [ ]:
# Lowercase
"sequence 850".lower()

In [ ]:
# Separate words by spaces
"une sÃ©quence    Ã  sÃ©parer".split()

In [ ]:
# Separate words by an arbitrary character
"pratique pour faire des sous-sÃ©quences".split("-")

In [ ]:
# Using strings as templates
"mon adresse est : {}".format("10 rue des Peupliers")

### To go further with *strings*

All this is just a glimpse of the countless operations possible on
the *strings*. The [documentation
official](https://docs.python.org/3/library/stdtypes.html#string-methods)
lists all the *built-in* methods available. The exercises of the
chapter and endgame mini-projects will be an opportunity to
discover other uses.

## Variables

So far, we have had to define our object each time before
to be able to apply a transformation to it. How to do it if you want
reuse an object and apply multiple transformations to it? Or
perform operations from different objects?

To do this, we will assign the objects to variables.

### Assignment and operations

The assignment is done following the format: `variable_name = object`.
This then allows operations to be carried out from these
variables.

In [ ]:
x = 5
x

In [ ]:
type(x)

In [ ]:
x + 5

In [ ]:
y = x + 2*x
y

Unlike other programming languages, Python is said to be
*dynamically* typed: it is possible to reassign a variable to a
object of different type. This makes it easier to read and develop,
but can sometimes generate problems that are difficult to debugâ¦ It is necessary
so always pay attention that the type of the variable is correct
the one we imagine we are manipulating.

In [ ]:
x = 3
x = "blabla"
type(x)

There are naturally certain constraints on operations depending on the
types of objects.

In [ ]:
x = "test"
y = 3
x + y

It is however possible to harmonize the types upstream:

In [ ]:
x = "test"
y = 3
z = str(y)
x + z

### Increment

It is common to use a variable as a counter, in
incrementing it each time a given event occurs for example.

In [ ]:
a = 0
print(a)
a = a +1
print(a)

This practice is so common that there are operators
special for common arithmetic operations.

In [ ]:
a = 0
a += 1
a

In [ ]:
b = 5
b *= 3
b

## Exercises

### Comprehension questions

- What are the different basic types of Python seen in this
tutorial?

- How to convert an integer to a real and vice versa?

- How do you define a string in Python?

- What is a *Traceback*?

- What is the difference between a syntax error and a
exception ?

- What is the `print` function used for?

- How to display multiple values ââin a notebook cell
Jupyter?

- What is the `len` function used for?

- What is a *built-in* method and how to recognize it?

- What are variables used for?

- Why do we say that Python is â*dynamically* typedâ?

<details>

<summary>

Show solution

</summary>

- 1/ The basic types in Python seen in this tutorial are the types
numeric, including integers (`int`) and real numbers (numbers with
floating point, `float`), and strings (`str`),
which store textual information.

- 2/ To convert an integer into a real number, we use the function
`float()`. To convert a real into an integer, we use the function
`int()`.

- 3/ A character string is defined by putting the information
between apostrophes (â) or between quotation marks (â).

- 4/ A `Traceback` is an error report that shows the sequence
of operations that led to an exception. It helps to identify
the origin of the error in the code.

- 5/ A syntax error occurs when the Python code does not respect
not the syntax rules of the language, making the script not
executable. An exception is an error detected during
execution, even if the code has correct syntax. Exceptions
can be handled in the code, while syntax errors
produce necessarily lead to the termination of the execution of the
code.

- 6/ The `print` function displays the contents of the argument given to it.
passes in parentheses on the Python console or in a cell of
Jupyter notebook.

- 7/ By default, running a Jupyter cell displays the last
value returned by the code executed in this cell. If two
lines of code return something, so only the last one will be
displayed. To be able to display multiple items in the same
cell, we use the `print` function for each operation whose
we want to display the result.

- 8/ The `len` function returns the number of elements in an object. By
example, the number of characters in a string.
This function only makes sense for sequence type objects.

- 9/ A *built-in* method is a function integrated into a type
object in Python that allows you to perform specific operations
on this object. It is recognized because it is called directly on
the object with the syntax `object.method()`.

- 10/ Variables are used to store values ââor objects for
to be able to reuse them and handle them more easily in the
code. They also allow you to give a name to the data for
make them more readable and easier to handle.

- 11/ Python is said to be *dynamically typed* because the type of
variables are determined at runtime and can change at
during execution. Thus, a variable initially defined as
string can absolutely become a numeric variable
during code execution, which is impossible in the
programming languages ââbased on *static typing*.

</details>

### Displaying basic types

Show type of x when:

- x = 3

- x = âtestâ

- x = 3.5

In [1]:
# Type your answer in this cell
x = 3
print(type(x))
x = "test"
print(type(x))
x = 3.5
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>

<details>

<summary>

Show solution

</summary>

``` python
x = 3
print(type(x))

x = "test"
print(type(x))

x = 3.5
print(type(x))
```

</details>

### String Lengths

Calculate the sum of the lengths of the three strings.
following:

- âa first chainâ

- âand a secondâ

- ânever two without threeâ

In [4]:
# Type your answer in this cell
strOne = "a first chain"
strTwo = "and a second"
strThr = "never two without three"
sumOfLengths = len(strOne) + len(strTwo) + len(strThr)
print(sumOfLengths)

48

<details>

<summary>

Show solution

</summary>

``` python
a = "une premiÃ¨re chaÃ®ne"
b = "et une deuxiÃ¨me"
c = "jamais deux sans trois"

len(a) + len(b) + len(c)
```

</details>

### Postcode Formatting

What is the correct type to define a postal code?

Try to set the following zip codes to `int` format and
format `string`:

- 92120

- 02350

What do you conclude?

In [7]:
# Type your answer in this cell
zipCodeOne = "92120"
zipCodeTwo = "02350"
print(type(zipCodeOne))
print(type(zipCodeTwo))

<class 'str'>
<class 'str'>

<details>

<summary>

Show solution

</summary>

``` python
cp1_int = 92120
cp1_str = "92120"

print(cp1_int, cp1_str) # Pas de problÃ¨me

cp2_int = 02350 
```

Error: Python does not accept defining an integer that starts with a
0. So we need to define postal codes as strings.

</details>

### Letter Counting

Count the number of times the letter e appears in the string.
next: âIâm counting the eâs.â

**Hint**: You can use the *built-in* method
[count](https://docs.python.org/fr/3/library/stdtypes.html#str.count).

In [9]:
# Type your answer in this cell
str = "I'm counting the e's"
str.count("e")

2

<details>

<summary>

Show solution

</summary>

``` python
a = "Je fais un comptage des e."
a.count('e')
```

</details>

### Letter detection

Locate the first position where the letter e is present in the string.
next: âIâm counting the eâs.â

**Hint**: You can use the *built-in* method
[find](https://docs.python.org/fr/3/library/stdtypes.html#str.find).

In [10]:
# Type your answer in this cell
str = "I'm couting the e's"
str.find("e")

14

<details>

<summary>

Show solution

</summary>

``` python
a = "Je fais un comptage des e."
a.find('e')
```

</details>

### Removing spaces from a string

Remove unnecessary spaces at the beginning and end of the string
next:

**Hint**: You can use the *built-in* method
[strip](https://docs.python.org/fr/3/library/stdtypes.html#str.strip).

In [11]:
# Type your answer in this cell
a = "    Un string trÃ¨s mal formattÃ©.         "
a.strip()

'Un string trÃ¨s mal formattÃ©.'

<details>

<summary>

Show solution

</summary>

``` python
a = "    Un string trÃ¨s mal formattÃ©.         "
a.strip()
```

</details>

### Character escape

The `\` character is used to escape (neutralize) a special character in the
within a string of characters. Find out how this character allows you to
solve the problem with using quotation marks (or
apostrophes) in a string defined by quotation marks (apostrophe).

**Hint**: Examples of use are available in the
[documentation
official](https://docs.python.org/fr/3.8/reference/lexical_analysis.html#literals).

In [12]:
# Type your answer in this cell
strTestOne = 'I\'m allowed to use the apostrophe without problems'
strTestTwo = "The professor said: \"Python creators were very intelligent\""
print(strTestOne, strTestTwo)

I'm allowed to use the apostrophe without problems The professor said: "Python creators were very intelligent"

<details>

<summary>

Show solution

</summary>

``` python
"juste un \"petit\" test"
```

</details>

### A first algorithm

Perform the following sequence of operations using the operators
increment, and print the final value:

- initialize a variable to 1

- subtract 5 from it

- multiply it by 4

- add 22 to it

In [15]:
# Type your answer in this cell
x = 1
x -= 5
x *= 4
x += 22
print(x)

6

<details>

<summary>

Show solution

</summary>

``` python
a = 1
a -= 5
a *= 4
a += 22
print(a)
```

</details>

### String composition

Consider the following two sequences:

- âwe are inâ

- â2024â

Find from the tutorial two different ways to use them
to compose the sequence âwe are in 2024â.

**Hint**: One of the two methods involves (slightly) modifying
one of the two sequences.

In [16]:
# Type your answer in this cell
strA = "we are in"
strB = "2024"
print(strA, strB)

we are in 2024

<details>

<summary>

Show solution

</summary>

``` python
a1 = "nous sommes en"
a2 = "nous sommes en {}"
b = "2024"

print(a1 + " " + b)
print(a2.format(b))
```

</details>

### The `f-strings`

`f-strings` are a somewhat special form of *strings* but
very handy, which were added in version 3.6 of `Python`. For
understand their interest, let's start again from the solution of the exercise
previous, which illustrated two ways of composing the string âwe
âWe are in 2024â.

In [17]:
a1 = "nous sommes en"
a2 = "nous sommes en {}"
b = "2024"

print(a1 + " " + b)
print(a2.format(b))

nous sommes en 2024
nous sommes en 2024

Both of these methods work but have limitations. Think about it
to what would happen in the following cases, and do not hesitate to do
tests to convince you:

- if you want to inject a variable via the `format()` method which
is not a *string* (eg: if â2024â was an integer and not a
*string*) ?

- if we want to concatenate several *strings* together?

- if you want to concatenate several *strings* together and in
the more we want to inject the values ââof other variables into each
part ?

Taking inspiration from the [documentation
official](https://docs.python.org/fr/3/tutorial/inputoutput.html#formatted-string-literals),
use `f-strings` to solve these various problems.

If we want to inject a variable via the format() method, which is not a string, there will be a TypeError, because an integer cannot be concatenated to a string.
If we want to concatenate several strings together/need more variables to be added, the code becomes complex to write and read, so errors may arise.

In [20]:
# Type your answer in this cell
name = "Rita"
age = "26"
country = "Portugal"

print(f"My name is {name}, I'm {age} years old, and I come from {country}.")

My name is Rita, I'm 26 years old, and I come from Portugal.

<details>

<summary>

Show solution

</summary>

First problem: composing strings with numeric values.

``` python
a1 = "nous sommes en"
b = 2024

# print(a1 + " " + b)  # Erreur
print(a1 + " " + str(b))
```

Direct concatenation returns an error -\> you must first
convert numeric value to string.

Second problem: juxtaposition of multiple character strings.

``` python
a = "nous sommes en"
b = "2024"
c = "et je m'appelle"
d = "Miranda"

print(a + " " + b + " " + c + " " + d)
```

The syntax quickly becomes unreadable, because you have to add the separators
(space) manually between each part.

Third problem: string composition with injection
of variables.

``` python
a = "nous sommes en {}"
b = "2024"
c = "et je m'appelle {}"
d = "Miranda"

print(a.format(b) + " " + c.format(d))
```

The syntax remains difficult to read, because the values ââmust be injected into
each chain.

Solution: with f-strings.

``` python
annee = 2024
prenom = "Miranda"

print(f"nous sommes en {annee} et je m'appelle {prenom}")
```

Much more readable!

</details>